@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: RubikGlitch;
    src: local('RubikGlitch'), url('./fonts/Rubik_Glitch/RubikGlitch.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: SilkScreen;
    src: local('SilkScreen'), url('./fonts/Silkscreen/Silkscreen-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: SilkScreen;
    src: local('SilkScreen'), url('./fonts/Silkscreen/Silkscreen-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: VT323;
    src: local('VT323'), url('./fonts/VT323/VT323.ttf') format('truetype');
    font-weight: normal;
}

html {
    @apply font-sans text-base;
    background-image: url('./assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}